<app-simple-cover
  imgSrc="../../../../assets/tourism-service/tourism-service-header.jpg"
  title="Tourism in Iran"
></app-simple-cover>
<div class="normal-text">
  <h3 class="font-size-1 mb-5">Tourism Services in Iran Explanations</h3>
  <p class="font-size-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione est nemo
    voluptatem voluptatum sequi delectus facere ut culpa perspiciatis, amet ipsa
    quibusdam porro dolorem, magnam magni alias pariatur iste aut! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Dignissimos quos consequatur
    numquam eius molestias deserunt iste temporibus velit sapiente totam nam
    corrupti laborum et dicta atque ipsum, recusandae eligendi pariatur. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Et, accusamus! Cum
    reiciendis molestias dolor. Amet sed, voluptates autem fuga porro sit hic
    iusto! Dolores laborum ratione natus, quae magni nobis. Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Veniam, nostrum sapiente quos
    recusandae, illum nulla dicta beatae accusantium veritatis impedit delectus.
    Magnam assumenda velit veritatis aliquid accusamus. Ratione, commodi autem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum
    necessitatibus perspiciatis, quae illum odio perferendis quas quis
    voluptates, veritatis deleniti? Optio ex impedit corporis nostrum aliquam,
    nobis assumenda minus?Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Tempore maiores illo fuga iure incidunt amet dolor architecto
    asperiores a necessitatibus libero, hic ad, maxime perspiciatis tenetur
    voluptatum iste odit culpa.Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ratione est nemo voluptatem voluptatum sequi delectus
    facere ut culpa perspiciatis, amet ipsa quibusdam porro dolorem, magnam
    magni alias pariatur iste aut! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Dignissimos quos consequatur numquam eius molestias
    deserunt iste temporibus velit sapiente totam nam corrupti laborum et dicta
    atque ipsum, recusandae eligendi pariatur. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Et, accusamus! Cum reiciendis molestias dolor.
    Amet sed, voluptates autem fuga porro sit hic iusto! Dolores laborum ratione
    natus, quae magni nobis. Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Veniam, nostrum sapiente quos recusandae, illum nulla dicta beatae
    accusantium veritatis impedit delectus. Magnam assumenda velit veritatis
    aliquid accusamus. Ratione, commodi autem. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Similique ipsum necessitatibus perspiciatis,
    quae illum odio perferendis quas quis voluptates, veritatis deleniti? Optio
    ex impedit corporis nostrum aliquam, nobis assumenda minus?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Tempore maiores illo fuga iure
    incidunt amet dolor architecto asperiores a necessitatibus libero, hic ad,
    maxime perspiciatis tenetur voluptatum iste odit culpa.dolor sit amet
    consectetur adipisicing elit. Tempore
  </p>
</div>
