<app-simple-cover
  imgSrc="./../../../../assets/medical-service/hair-transplant.jpg"
  title="HAIR TRANSPLANT"
></app-simple-cover>
<div class="mx-5">
  <div class="row">
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>Learn More About Hair Transplant</h3>
        <p class="text-justify">
          {{ pageConfig.learnMore }}
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/barber.svg" />
    </div>
  </div>
</div>
<div class="normal-text">
  <h3 class="font-size-1 mb-5">
    Hair Transplant Services in Iran Explanations
  </h3>
  <p class="font-size-2">
    {{ pageConfig.liposuctionInIran }}
  </p>
</div>

<app-filter></app-filter>
