<div class="mx-5">
  <div class="row">
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/doctors.svg" />
    </div>
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>About our Doctors</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
          ducimus incidunt nulla, similique modi consectetur vel pariatur
          excepturi? Deserunt fugiat voluptates ullam architecto laborum culpa
          perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Vero et nihil veniam velit perferendis
          exercitationem ullam nobis inventore eos quis incidunt ut quae, omnis
          modi sit itaque vitae delectus commodi.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Doctors</h2>
</div>
<app-doctors-card [items]="doctors"></app-doctors-card>
