<div class="mx-5">
  <div class="row">
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/doctors.svg" />
    </div>
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>About our Doctors</h3>
        <p class="text-justify">
          {{ pageConfig.aboutDocters }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Doctors</h2>
</div>
<app-doctors-card [items]="doctors"></app-doctors-card>
