<div id="help-btn" (click)="toggleNav()">
    <mdb-icon fas class="" id="comment" icon="comment-alt" size="2x"></mdb-icon>
    <mdb-icon fas class="" id="remove" icon="times" size="2x"></mdb-icon>
</div>

<div id="slide">
    <p>Would you like to contact us?</p>
    <a class="slide-btn" id="whatsapp" href=""><div><mdb-icon fab icon="whatsapp"></mdb-icon>Whatsapp</div></a>
    <a class="slide-btn" id="instagram" href=""><div><mdb-icon fab icon="instagram"></mdb-icon>Instagram</div></a>
    <a class="slide-btn" id="email" href=""><div><mdb-icon fas icon="at"></mdb-icon>Email</div></a>
</div>