<div id="help-btn" (click)="toggleNav()">
    <span class="glyphicon glyphicon-comment" id="comment"></span>
    <span class="glyphicon glyphicon-remove" id="remove"></span>
</div>

<div id="slide" class="">
    <p>Would you like to contact us?</p>
    <a class="slide-btn" id="whatsapp" href=""><div><span class="glyphicon glyphicon-comment"></span>Whatsapp</div></a>
    <a class="slide-btn" id="chat" href=""><div><span class="glyphicon glyphicon-comment"></span>Whatsapp</div></a>
    <a class="slide-btn" id="email" href=""><div><span class="glyphicon glyphicon-comment"></span>Whatsapp</div></a>
</div>