.txet{
    margin-top: 2rem;
}

@media only screen and (max-width: 700px){
    .title{
        font-size: 18px !important;
    }
    
}

@media only screen and (max-width: 500px){
    .title{
        font-size: 14px !important;
    }
    
}

@media only screen and (max-width: 350px){
    .title{
        font-size: 12px !important;
    }
    
}