<div class="card indigo mx-3">
  <div class="bg-color my-3">
    <div class="card-body white-text">
      <h2 class="font-weight-bold my-4 text-center">{{ part.name }}</h2>

      <div class="d-flex justify-content-center"></div>
      <h5 class="mb-2 full-width text-center"><b>city:</b> {{ part.city }}</h5>
      <h5 class="mb-2 full-width text-center"><b>type:</b> {{ part.city }}</h5>
      <h5 class="mb-2 full-width text-center">
        <b>hotel:</b> {{ part.hotel }}
      </h5>
      <h5 class="mb-2 full-width text-center">
        <b>{{ part.price }}$</b>
      </h5>
      <h6 class="mt-4 full-width text-justify">
        {{ part.text }}
      </h6>
    </div>
  </div>
</div>
