.form {
    margin: 30px 0;
    width: 100%;
}

  button {
      width: 100%;
      margin-top: 60px;
  }
  
  @media only screen and (max-width: 685px){
      .half-width {
          width: 100%;
      }
  }