

<div class="container my-40">
  <div class="row">
    <section id="basic-example" class="mx-1 full-width">
      <h2 class="section-heading mb-4 text-center full-width">
        Find the best option for you
      </h2>

      <section>
        <div class="filter filter-basic">
          <div class="filter-nav row">
            <button
              mdbBtn
              type="button"
              color="default"
              mdbWavesEffect
              (click)="filter('all')"
            >
              All
            </button>
            <button
              mdbBtn
              type="button"
              color="light-blue"
              mdbWavesEffect
              *ngFor="let city of fullCities"
              (click)="filter(city)"
            >
              {{ city }}
            </button>
            <button
              mdbBtn
              type="button"
              color="secondary"
              mdbWavesEffect
              *ngFor="let type of fullTypes"
              (click)="filter(type)"
            >
              {{ type }}
            </button>
          </div>

          <div class="filter-gallery">
            <div class="row my-40 scroll-y">
              <div class="col-lg-3 col-md-4 mb-md-0 mb-4" *ngFor="let part of parts">
                <app-filter-part [part]="part" [color]="getColor(part.id)"></app-filter-part>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
