<div class="container">
  <div class="row my-5">
    <section id="basic-example" class="mx-1 full-width">
      <h2 class="section-heading mb-4 text-center full-width">
        Find the best option for you
      </h2>

      <section>
        <div class="filter filter-basic">
          <div class="filter-nav row button-grp">
            <button
              mdbBtn
              type="button"
              color="default"
              mdbWavesEffect
              (click)="filter('all')"
            >
              All
            </button>
            <button
              mdbBtn
              type="button"
              color="light-blue"
              mdbWavesEffect
              *ngFor="let city of fullCities"
              (click)="filter(city)"
            >
              {{ city }}
            </button>
            <button
              mdbBtn
              type="button"
              color="secondary"
              mdbWavesEffect
              *ngFor="let type of fullTypes"
              (click)="filter(type)"
            >
              {{ type }}
            </button>
          </div>

          <div class="filter-gallery">
            <div class="row">
              <div
                class="col-lg-4 col-md-6 mb-md-0 my-3"
                *ngFor="let part of parts"
              >
                <div class="card indigo">
                  <div class="card-body white-text">
                    <h5 class="mb-4">{{ part.id }}</h5>
                    <div class="d-flex justify-content-center">
                      <div
                        class="card-circle d-flex justify-content-center align-items-center"
                      >
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                    <h2 class="font-weight-bold my-4">{{ part.city }}</h2>
                    <p>
                      {{ part.text }}
                    </p>
                    <a
                      class="btn btn-outline-white btn-rounded waves-effect waves-light"
                      dideo-checked="true"
                      >{{ part.price }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
