<div id="empty-space"></div>

<mdb-navbar
  id="navbar"
  SideClass="navbar navbar-expand-lg navbar-dark bg-primary"
  [containerInside]="false"
>
  <mdb-navbar-brand>
    <a class="navbar-brand brand-text">Menu</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/amertat/home"
          >Home</a
        >
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          Medical Services<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            href="/amertat/medical-service/liposuction"
            >Liposuction</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            href="/amertat/medical-service/hair-transplant"
            >Hair Transplant</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          href="/amertat/tourism-service/accommodation-services"
          >Accommodation Services</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          href="/amertat/tourism-service/tourism-services"
          >Tourism Services</a
        >
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          Information<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            href="/amertat/information/doctors"
            >Doctors</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            href="/amertat/information/hospitals"
            >Hospitals and Clinics</a
          >
          <a
            class="dropdown-item waves-light"
            mdbWavesEffect
            href="/amertat/information/cities"
            >Cities</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          href="/amertat/site-information/blog"
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          href="/amertat/site-information/about-us"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          href="/amertat/site-information/contact-us"
          >Contact us</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
