<div id="empty-space"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
          >Medical Services</a
        >
        <div class="dropdown-menu">
          <a href="" class="dropdown-item">Liposuction</a>
          <a href="" class="dropdown-item">Hair Transplant</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accomodation Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tourism Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
          >Information</a
        >
        <div class="dropdown-menu">
          <a href="" class="dropdown-item">Docotrs</a>
          <a href="" class="dropdown-item">Hospitals</a>
          <a href="" class="dropdown-item">Cities</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
