#empty-space{
    width: 100%;
    height: 132px;
}

#navbar{
    border-top: gray 1px solid;
    top: 76px;
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: center;
    height: 55px;
}

.brand-text{
    color: #4285f4 !important;
}

@media only screen and (min-width: 991px) and (max-width: 1300px){
    #navbar{
        top: 75px;
    }
}

@media only screen and (max-width: 999px){
    .brand-text{
        color: white !important;
    }
}

@media only screen and (max-width: 991px){
    #empty-space{
        height: 179px;
    }
    #navbar{
        top: 121px;
    }
}