<app-simple-cover
  imgSrc="./../../../../assets/medical-service/accomodation-service.jpeg"
  title="ACCOMMODATION SERVICES"
></app-simple-cover>
<div class="normal-text">
  <h3 class="font-size-1 mb-5">
    Accomodation Services in Iran Explanations
  </h3>
  <p class="font-size-2">
    {{ pageConfig.desc }}
  </p>
</div>
<div class="mx-5">
  <div class="row">
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>Learn More About Hair Transplant</h3>
        <p class="text-justify">
          {{ pageConfig.moreAbout }}
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/chilling.svg" />
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h1 class="font-size-1">Other Services</h1>
  </div>
  <p class="text-justify font-size-2">
    {{ pageConfig.otherServices }}
  </p>
</div>
<br />
<br />
<br />
<hr />
<br />
<br />
<div class="row mx-5">
  <div class="col-lg-4 col-md-6 my-auto">
    <img
      src="./../../../../assets/medical-service/accomodation-service-sample.jpeg"
      alt="explore-section"
      class="img-fluid mb-3 rounded-circle"
    />
  </div>
  <div class="col-lg-8 col-md-6">
    <div class="text-center">
      <h1 class="font-size-1">Guides and Translation Services</h1>
    </div>
    <p class="text-justify font-size-2">
      {{ pageConfig.guidesTranslationService }}
    </p>
  </div>
</div>
