<app-simple-cover
  imgSrc="./../../../../assets/medical-service/accomodation-service.jpeg"
  title="ACCOMMODATION SERVICES"
></app-simple-cover>
<div class="normal-text">
  <h3 class="font-size-1 mb-5">
    Accomodation Services in Iran Explanations
  </h3>
  <p class="font-size-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione est nemo
    voluptatem voluptatum sequi delectus facere ut culpa perspiciatis, amet ipsa
    quibusdam porro dolorem, magnam magni alias pariatur iste aut! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Dignissimos quos consequatur
    numquam eius molestias deserunt iste temporibus velit sapiente totam nam
    corrupti laborum et dicta atque ipsum, recusandae eligendi pariatur. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Et, accusamus! Cum
    reiciendis molestias dolor. Amet sed, voluptates autem fuga porro sit hic
    iusto! Dolores laborum ratione natus, quae magni nobis. Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Veniam, nostrum sapiente quos
    recusandae, illum nulla dicta beatae accusantium veritatis impedit delectus.
    Magnam assumenda velit veritatis aliquid accusamus. Ratione, commodi autem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum
    necessitatibus perspiciatis, quae illum odio perferendis quas quis
    voluptates, veritatis deleniti? Optio ex impedit corporis nostrum aliquam,
    nobis assumenda minus?Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Tempore maiores illo fuga iure incidunt amet dolor architecto
    asperiores a necessitatibus libero, hic ad, maxime perspiciatis tenetur
    voluptatum iste odit culpa.Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ratione est nemo voluptatem voluptatum sequi delectus
    facere ut culpa perspiciatis, amet ipsa quibusdam porro dolorem, magnam
    magni alias pariatur iste aut! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Dignissimos quos consequatur numquam eius molestias
    deserunt iste temporibus velit sapiente totam nam corrupti laborum et dicta
    atque ipsum, recusandae eligendi pariatur. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Et, accusamus! Cum reiciendis molestias dolor.
    Amet sed, voluptates autem fuga porro sit hic iusto! Dolores laborum ratione
    natus, quae magni nobis. Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Veniam, nostrum sapiente quos recusandae, illum nulla dicta beatae
    accusantium veritatis impedit delectus. Magnam assumenda velit veritatis
    aliquid accusamus. Ratione, commodi autem. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Similique ipsum necessitatibus perspiciatis,
    quae illum odio perferendis quas quis voluptates, veritatis deleniti? Optio
    ex impedit corporis nostrum aliquam, nobis assumenda minus?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Tempore maiores illo fuga iure
    incidunt amet dolor architecto asperiores a necessitatibus libero, hic ad,
    maxime perspiciatis tenetur voluptatum iste odit culpa.dolor sit amet
    consectetur adipisicing elit. Tempore
  </p>
</div>
<div class="mx-5">
  <div class="row">
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>Learn More About Hair Transplant</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
          ducimus incidunt nulla, similique modi consectetur vel pariatur
          excepturi? Deserunt fugiat voluptates ullam architecto laborum culpa
          perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Vero et nihil veniam velit perferendis
          exercitationem ullam nobis inventore eos quis incidunt ut quae, omnis
          modi sit itaque vitae delectus commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/chilling.svg" />
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h1 class="font-size-1">Other Services</h1>
  </div>
  <p class="text-justify font-size-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui ducimus
    incidunt nulla, similique modi consectetur vel pariatur excepturi? Deserunt
    fugiat voluptates ullam architecto laborum culpa perspiciatis, veritatis
    consequatur iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Vero et nihil veniam velit perferendis exercitationem ullam nobis inventore
    eos quis incidunt ut quae, omnis modi sit itaque vitae delectus
    commodi.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
    ducimus incidunt nulla, similique modi consectetur vel pariatur excepturi?
    Deserunt fugiat voluptates ullam architecto laborum culpa perspiciatis,
    veritatis consequatur iure. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Vero et nihil veniam velit perferendis exercitationem
    ullam nobis inventore eos quis incidunt ut quae, omnis modi sit itaque vitae
    delectus commodi.
  </p>
</div>
<br />
<br />
<br />
<hr />
<br />
<br />
<div class="row mx-5">
  <div class="col-lg-4 col-md-6 my-auto">
    <img
      src="./../../../../assets/medical-service/accomodation-service-sample.jpeg"
      alt="explore-section"
      class="img-fluid mb-3 rounded-circle"
    />
  </div>
  <div class="col-lg-8 col-md-6">
    <div class="text-center">
      <h1 class="font-size-1">Guides and Translation Services</h1>
    </div>
    <p class="text-justify font-size-2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui ducimus
      incidunt nulla, similique modi consectetur vel pariatur excepturi?
      Deserunt fugiat voluptates ullam architecto laborum culpa perspiciatis,
      veritatis consequatur iure. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Vero et nihil veniam velit perferendis exercitationem
      ullam nobis inventore eos quis incidunt ut quae, omnis modi sit itaque
      vitae delectus commodi.Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Odit qui ducimus incidunt nulla, similique modi consectetur vel
      pariatur excepturi? Deserunt fugiat voluptates ullam architecto laborum
      culpa perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Vero et nihil veniam velit perferendis
      exercitationem ullam nobis inventore eos quis incidunt ut quae, omnis modi
      sit itaque vitae delectus commodi.
    </p>
  </div>
</div>
