.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 8px 4px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

mat-card {
    text-align: justify;
    margin-top: 25px;
}