.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.example-stretched-tabs {
    max-width: 800px;
}

.mat-tab-label.mat-tab-label-active {
    opacity: 1 !important;
}

.mat-tab-label-active>.mat-tab-label-content {
    color: #3f51b5 !important;
}

.mat-tab-body {
    padding: 5% !important;
}


p {
    color: #666666;
    line-height: 30px;
    margin: 10px 0px 20px;
    text-transform: none;
    font-weight: 400;
    font-size: medium;
}

ul {
    margin: 0;
    font-size: small;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 10px;
}

.dark {
    background: #f4f4f4;
}

.bold {
    font-weight: 400;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

.btn-fb {
    background-color: #3b5998 !important;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

.btn-tw {
    background-color: #55acee !important;
}

.btn-gplus {
    background-color: #dd4b39 !important;
}

.btn-li {
    background-color: #0082ca !important;
}

.btn-dribbble {
    background-color: #ec4a89 !important;
}

.vertical {
    display: grid;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.p-40 {
    padding-left: 40px;
    padding-right: 40px;
    padding: 40px;
}

.flex {
    display: flex;
}

p {
    color: #666666;
    line-height: 30px;
    margin: 0px 0px 20px;
    text-transform: none;
    font-weight: normal;
    font-size: medium;
}

@media only screen and (max-width : 768px) {
    .vertical {
        display: block;
    }
}