<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let item of items">
      <div class="card card-cascade wider my-5">
        <div class="view view-cascade overlay">
          <img class="card-img-top" [src]="item.imgSrc" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade text-center pb-0">
          <h5 class="pink-text pb-2 pt-1">
            <i class="fas fa-user-md"></i> {{ item.proficiency }}
          </h5>
          <h4 class="font-weight-bold card-title">{{ item.name }}</h4>
          <p class="card-text">{{ item.description }}</p>
          <button mat-raised-button color="primary">Read More ...</button>
          <div class="card-footer text-muted text-center mt-4">
            {{ item.degree }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
