<app-simple-cover
  imgSrc="../../../../assets/Blog/blog-background.jpg"
  title="Read Our Blog"
></app-simple-cover>

<section id="blog" class="py-3">
  <div class="container">
    <div class="text-center margin">
      <h1>Everything you need to Know</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, culpa.
      </p>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let item of blogPostNumber; let i = index"
        (click)="onClickCard()"
      >
        <div class="card card-cascade narrower my-3">
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="../../../../assets/Blog/blog{{ i + 1 }}.jpg"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body card-body-cascade">
            <h5 class="pink-text pb-2 pt-1">
              <i class="fas fa-clipboard"></i> Blog
            </h5>
            <h4 class="font-weight-bold card-title">Blog Post {{ item }}</h4>
            <p class="card-text">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </p>
            <button mat-raised-button color="primary">Read More</button>
          </div>
          <div class="card-footer text-muted text-center">
            Author : Alireza Ebrahimkhani
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
