<div class="mx-5">
  <div class="row">
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/hospitals1.svg" />
    </div>
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>About our Hospitals</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
          ducimus incidunt nulla, similique modi consectetur vel pariatur
          excepturi? Deserunt fugiat voluptates ullam architecto laborum culpa
          perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Vero et nihil veniam velit perferendis
          exercitationem ullam nobis inventore eos quis incidunt ut quae, omnis
          modi sit itaque vitae delectus commodi.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Hospitals</h2>
</div>
<app-hospitals-card [items]="hospitals"></app-hospitals-card>

<div class="mx-5">
  <div class="row">
    <div class="col-lg-4 my-5">
      <div class="text-center">
        <h3>About our Clinics</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
          ducimus incidunt nulla, similique modi consectetur vel pariatur
          excepturi? Deserunt fugiat voluptates ullam architecto laborum culpa
          perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Vero et nihil veniam velit perferendis
          exercitationem ullam nobis inventore eos quis incidunt ut quae, omnis
          modi sit itaque vitae delectus commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-auto">
      <img class="img-fluid" src="./../../../../assets/svg/hospitals2.svg" />
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Clinics</h2>
</div>

<app-clinics-card [clinicsItem]="clinics"></app-clinics-card>
