<div class="mx-5">
  <div class="row">
    <div class="col-lg-8 my-5">
      <img class="img-fluid" src="./../../../../assets/svg/hospitals1.svg" />
    </div>
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>About our Hospitals</h3>
        <p class="text-justify">
          {{ pageConfig.aboutOurHospitals }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Hospitals</h2>
</div>
<app-hospitals-card [items]="hospitals"></app-hospitals-card>

<div class="m-5">
  <div class="row">
    <div class="col-lg-4 my-auto">
      <div class="text-center">
        <h3>About our Clinics</h3>
        <p class="text-justify">
          {{ pageConfig.aboutOurClinics }}
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-auto">
      <img class="img-fluid" src="./../../../../assets/svg/hospitals2.svg" />
    </div>
  </div>
</div>
<div class="text-center my-5">
  <h2>Learn More About Our Clinics</h2>
</div>

<app-clinics-card [clinicsItem]="clinics"></app-clinics-card>
