<div id="header">
    <div class="row">
      <div id="header-title" class="font-size-1">Amertat Medical Tourism</div>
      <div id="header-btn-group">
        <button mat-raised-button class="header-btn font-size-2" id="header-btn-1">
          Contact Us
        </button>
        <button mat-raised-button class="header-btn font-size-2" id="header-btn-2">
          Get Started
        </button>
        <button mat-raised-button class="header-btn font-size-2" id="header-btn-3">
          Get Free Qoute
        </button>
      </div>
    </div>
</div>
