#header {
  position: fixed;
  width: 100%;
  padding: 15px;
  z-index: 1000;
  background-color: #fff;
}

#header-title {
  width: 50%;
  text-align: center;

  div {
    margin-top: 10px;
    padding-left: 70px;
    text-align: left;
  }
}

#header-btn-group {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header-btn {
  width: 30%;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
}

@media only screen and (max-width: 991px) {
  #header-title {
    width: 100%;
    margin-bottom: 10px;

    div{
      padding-left: 0px;
      text-align: center;
    }
  }
  #header-btn-group {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1300px) {
  .header-btn {
    width: 25%;
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .header-btn {
    padding: 2px 5px;
  }
}
#header-btn-1 {
  background-color: rgb(228, 218, 218);
}

#header-btn-2 {
  color: white;
  background-color: rgb(31, 63, 120);
}

#header-btn-3 {
  color: white;
  background-color: #666;
}
