<header id="about-us-section">
  <div class="dark-overlay">
    <div class="about-us-inner container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="display-5 color">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
            consequuntur adipisci assumenda error distinctio?
          </h1>
          <div *ngFor="let item of lines" class="d-flex">
            <div class="p-4 align-self-start color">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end color">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
