.color {
  color: white;
}

.card {
  min-height: 500px;
  max-height: 400px;
}

#authors img {
  margin-top: -50px;
}
#authors .card:hover {
  background: #3292a6;
  color: #fff;
}
#authors .fab {
  color: #fff;
}

.share-bg-color {
  background-color: rgb(39, 27, 149);
}

.img-person,
.video-fluid {
  height: 180px;
}

@media only screen and (max-width: 479px) {
  .display-5 {
    font-size: 32px;
  }
}
