<app-simple-cover
  imgSrc="../../../../assets/About\ Us/images.jpeg"
  title="Read More About Us"
></app-simple-cover>
<div class="normal-text">
  <h3 class="font-size-1">About Our Team</h3>
  <p class="font-size-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione est nemo
    voluptatem voluptatum sequi delectus facere ut culpa perspiciatis, amet ipsa
    quibusdam porro dolorem, magnam magni alias pariatur iste aut! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Dignissimos quos consequatur
    numquam eius molestias deserunt iste temporibus velit sapiente totam nam
    corrupti laborum et dicta atque ipsum, recusandae eligendi pariatur. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Et, accusamus! Cum
    reiciendis molestias dolor. Amet sed, voluptates autem fuga porro sit hic
    iusto! Dolores laborum ratione natus, quae magni nobis. Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Veniam, nostrum sapiente quos
    recusandae, illum nulla dicta beatae accusantium veritatis impedit delectus.
    Magnam assumenda velit veritatis aliquid accusamus. Ratione, commodi autem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum
    necessitatibus perspiciatis, quae illum odio perferendis quas quis
    voluptates, veritatis deleniti? Optio ex impedit corporis nostrum aliquam,
    nobis assumenda minus?
  </p>
</div>

<section id="authors" class="my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-primary pb-3">
            Meet Our Team
          </h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            laborum numquam aperiam dolores a porro!
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let item of persons" class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img
              src="./../../../../assets/About Us/{{ item }}"
              alt=""
              class="img-fluid rounded-circle w-50 mb-3"
            />
            <h3>Susan Williams</h3>
            <h5 class="text-muted">Lead Writer</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
              commodi nostrum, ab libero voluptas officia.
            </p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="share-head-section" class="share-bg-color">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-5 color">Share</h1>
        <p class="lead color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          harum esse possimus libero tenetur dolor praesentium corrupti
          architecto qui sunt.
        </p>
        <button class="btn btn-outline-light">Find Out More</button>
      </div>
    </div>
  </div>
</section>
<section id="share-section" class="text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="./../../../../assets/About Us/about-us-header.jpg"
          alt="explore-section"
          class="img-fluid mb-3 rounded-circle"
        />
      </div>
      <div class="col-md-6">
        <h3>Share Us With Your Friends</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos esse,
          dolore aspernatur maiores distinctio tempore perferendis sed sunt
          corporis assumenda?
        </p>
        <div class="d-flex">
          <div class="p-4 align-self start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, et
              modi suscipit iste sint odio.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, et
              modi suscipit iste sint odio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
