/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text-center{
    width: 100%;
    text-align: center;
}

.font-size-1 {
    font-size: 2rem;
    line-height: 35px;
}

.font-size-2{
    font-size: 1rem;
    line-height: 30px;
}

@media only screen and (min-width: 600px) and (max-width: 1300px) {
    .font-size-1 {
        font-size: 1.5rem;
    }
    .font-size-2{
        font-size: .75rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .font-size-1 {
        font-size: 1.2rem;
    }
    .font-size-2{
        font-size: .6rem;
    }
}

@media only screen and (max-width: 300px) {
    .font-size-1 {
        font-size: 1.2rem;
    }
    .font-size-2{
        font-size: .45rem;
    }
}

.full-width {
    width: 100%;
  }

  .half-width {
    width: 48%;
    margin: 0 5px;
  }