<section>
  <div class="bg">
    <div class="row">
      <div class="col-lg-5 mx-5 margin-top d-none d-sm-block">
        <h2 class="text-center">
          Amertat Medical Tourism Is The Place For Treatment
        </h2>
        <div class="container">
          <p class="text-center mt-2 mx-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
            dolor consequatur officia quod voluptates consectetur. Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Expedita sequi
            temporibus unde qui nemo cum.
          </p>
        </div>
        <button
          class="center-button"
          mat-raised-button
          color="accent"
          (click)="changeRoute()"
        >
          Contact us
        </button>
      </div>
    </div>
  </div>
</section>
<section class="mx-5">
  <div class="my-5">
    <div class="row">
      <div class="col-lg-8 my-5">
        <img class="img-fluid" src="./../../assets/svg/home-page.svg" />
      </div>
      <div class="col-lg-4 my-auto">
        <div class="text-center">
          <h3>About Amertat Medical Tourism</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit qui
            ducimus incidunt nulla, similique modi consectetur vel pariatur
            excepturi? Deserunt fugiat voluptates ullam architecto laborum culpa
            perspiciatis, veritatis consequatur iure. Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Vero et nihil veniam velit
            perferendis exercitationem ullam nobis inventore eos quis incidunt
            ut quae, omnis modi sit itaque vitae delectus commodi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="text-center margin">
      <h1>Popular Procedures</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
        distinctio dolorem quas fugit excepturi, laudantium delectus quaerat
        neque magnam
      </p>
    </div>
  </div>
</section>
