<section>
  <div class="bg">
    <div class="row">
      <div class="col-lg-5 mx-5 margin-top">
        <h2 class="center-text">
          Amertat Medical Tourism Is The Place For Treatment
        </h2>
        <div class="container d-none d-sm-block">
          <p class="center-text mt-2 mx-5 text-justify">
            {{ pageConfig.introduction }}
          </p>
        </div>
        <button
          class="center-button d-none d-sm-block"
          mat-raised-button
          color="accent"
          (click)="changeRoute()"
        >
          Contact us
        </button>
      </div>
    </div>
  </div>
</section>
<div class="text-center my-5">
  <h1 class="font-size-1">
    <strong>-- Welcome to Amertat Medical Tourism --</strong>
  </h1>
</div>
<section class="mx-5">
  <div class="my-5">
    <div class="row">
      <div class="col-lg-8 my-5">
        <img class="img-fluid" src="./../../assets/svg/home-page.svg" />
      </div>
      <div class="col-lg-4 my-auto">
        <div class="text-center">
          <h3>About Amertat Medical Tourism</h3>
          <p class="text-justify">
            {{ pageConfig.about }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container my-5">
  <div class="text-center">
    <h1>Popular Procedures</h1>
    <p>
      A medical procedure with the intention of determining, measuring, or
      diagnosing a patient condition or parameter is also called a medical test.
      Other common kinds of procedures are therapeutic
    </p>
    <div class="row mt-5">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let item of blogCard"
        (click)="onClickCard(item)"
      >
        <div class="card card-cascade narrower my-3">
          <div class="view view-cascade overlay">
            <img
              class="card-img-top"
              src="{{ baseUrl }}{{ item.image.url }}"
              alt="Card image cap"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body card-body-cascade">
            <p class="card-text">
              {{ item.desc }}
            </p>
            <button mat-raised-button color="primary">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5">
  <div class="my-5">
    <div class="row">
      <div class="col-lg-6 my-auto">
        <div class="text-center mx-5">
          <h3>Why Iran ?</h3>
          <p class="text-justify">
            {{ pageConfig.whyiran }}
          </p>
        </div>
      </div>
      <div class="col-lg-6 my-5">
        <img class="img-fluid" src="./../../assets/svg/why-iran.svg" />
      </div>
    </div>
  </div>
</div>
<app-popular-destination></app-popular-destination>
<div class="mx-5">
  <div class="my-5 mx-5">
    <div class="row">
      <div class="col-lg-8 my-5">
        <img class="img-fluid" src="./../../assets/svg/amertat-team.svg" />
      </div>
      <div class="col-lg-4 my-auto">
        <div class="text-center">
          <h3>Why we should use <strong>Amertat</strong> ?</h3>
          <p class="text-justify">
            {{ pageConfig.whyamertat }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
