<section class="hospitals-card">
  <div class="card-wrapper row">
    <div class="no-padding col-lg-3 col-md-4 col-sm-6" *ngFor="let i of [1,2,3,4]">
        <div class="card">
            <!-- <div class="card-overlay">
              <h1 class="card-overlay-heading">
                food name
              </h1>
              <p class="card-overlay-paragraph">
                cost : 100$
              </p>
              <button class="card-overlay-btn">odd</button>
            </div> -->
            <img src="../../../../assets/pictures/hospitals/adhy-savala-zbpgmGe27p8-unsplash.jpg" class="card-img">
          </div>
    </div>
  </div>
</section>
