<section class="hospitals-cards">
  <div class="card-wrapper row">
    <div class="no-padding col-lg-4 col-md-6 col-sm-6" *ngFor="let item of items">
        <div class="hospitals-card">
            <a href="" class="full-area">
                <div class="hospitals-card-overlay">
                <div class="hospitals-card-texts">
                    <p class="white-text font-size-1 full-width">{{item.name}}</p>
                    <p class="white-text font-size-2 mt-10 full-width">{{item.desctrption}}</p>
                </div>
                </div>
                <img [src]="item.imgSrc" class="hospitals-card-img">
            </a>
        </div>
    </div>
  </div>
</section>
